<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <link rel="stylesheet" href="/css/list.css">
</head>
<body>
<header>
  <h1>PX 마트</h1>
  <nav>
    <a href="#">Shop</a>
<!--    <a href="#">Newstand</a>-->
<!--    <a href="#">Who we are</a>-->
    <a href="#">My profile</a>
    <button>Log out</button>
  </nav>
</header>
<main>
  <section class="product-list">
    <h2>items</h2>
    <div class="product-item" th:each="product : ${products}">
      <img th:src="@{/images/placeholder.png}" th:alt="${product.name}">
      <div>
        <h3 th:text="${product.name}">Product Name</h3>
        <p th:text="'₩' + ${product.price}">Product Price</p>
        <p th:text="'재고 : ' + ${product.stock}">Product Price</p>
        <form action="/addCart" method="post">
          <label for="quantity">수량</label>
          <select class="quantity" id="quantity" name="quantity" >
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>8</option>
            <option value=9>9</option>
            <option value=10>10</option>
          </select>
          <input type="hidden" name="product" th:value="${product.id}" />
          <button type="submit">장바구니 담기</button>
        </form>
<!--        <div class="quantity">-->
<!--          <input type="text" value="1">-->
<!--          <button>Edit</button>-->
<!--        </div>-->
      </div>
      <p class="price" th:text="'$' + ${product.price}">Product Total Price</p>
    </div>
  </section>
  <aside class="order-summary">
    <h2>Cart</h2>
    <div th:if="${cart != null}">
      <p th:text = "'이름: ' + ${user.username}"></p>
      <div th:each="item : ${cartItems}">
        <p th:text="'Product: ' + ${item.product.name} + ', Price: $' + ${item.product.price} + ', Quantity: ' + ${item.quantity}"></p>
      </div>
      <p th:text="'Subtotal: $' + ${cart.getTotalPrice()}"></p>
      <button>Continue to payment</button>
    </div>
    <div th:unless="${cart != null}">
      <p>Your cart is empty.</p>
    </div>
  </aside>
</main>
</body>
</html>
