body {
    background-image: url('res/background.png');
    background-size: cover; /* 배경 이미지를 화면에 꽉 채우도록 설정 */
    background-position: center; /* 배경 이미지를 화면 중앙에 위치하도록 설정 */
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    text-align: left;
    color: #333;
    margin-left: 350px; /* h1 태그를 화면 좌측에서 200px 떨어지게 설정 */
    margin-bottom: 30px; /* h1과 폼 사이의 간격 설정 */
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: auto; /* 폼을 화면 오른쪽 끝으로 보냄 */
    margin-right: 300px; /* 폼을 화면 오른쪽에서 100px 떨어지게 함 */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
